/* == HTML style == */
body {
    background: #eee;
    font-family: sans-serif;
}

li {
    margin: 5px 0;
}

/* == Class style == */
.title {
    width: fit-content;
    margin: 30px auto;
    padding: 15px 40px;
    text-align: center;
    background-color: white;
}

/* = main content recipe styles = */
.recipe {
    width: 60%;
    margin: 10px auto;
    margin-bottom: 20px;
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 2px;
}

.recipe-list {
    width: fit-content;
    padding: 10px 20px 10px 0;
}

.recipe-instruct {
    padding: 20px;
}

.recipe-img {
    width: 450px;
    margin: auto;
    padding: 10px;
    background-color: #e4e4e4;
}

/* empty or future styles for recipe content */
.recipe-descript {

}

.recipe-ingredient {

}

.recipe-step {

}

/* = break in page style, better than br tag = */
.break {
    margin: 10px 0;
    padding: 2px;
}

.break-color {
    background-color: #858585;
}

